<div class="container mt-5">
    <div class="row row-cols-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body text-center"style="">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/Espresso.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/V60.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/FrenchPress.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/MochaPot.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/AeroPress.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/TurkishCoffee.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

