<div class="container mt-5 text-center rounded-3 text-light" style="background-color: #ceb5a7;">
    <h3 class="p-3">Choose your brewing method</h3>
    <div class="row row-cols-3 mr-2 ">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    Espresso Machine
                </div>
                <div class="card-body text-center"style="">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/Espresso.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    V60
                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/V60.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    French Press
                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/FrenchPress.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="card">
                <div class="card-header text-center">
                    Mocha Pot
                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/MochaPot.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    Aero Press
                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/AeroPress.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    Turkish Coffee
                </div>
                <div class="card-body text-center">
                    <video class="object-fit-contain border rounded" onmouseover="this.play()" onmouseout="this.pause()" height="140" loop muted >
                        <source src="../../assets/Vids/TurkishCoffee.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

