
<div class="container p-2 mt-5">
    <div class="card mx-auto" style="width: 18rem;" *ngIf="!loginSuccess && !loginFailed">
        <div class="card-header bg-dark-subtle">
            <h3 class="card-title">Login</h3>
        </div>
        <div class="card-body">
            <form class="" action="">
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="userName" [(ngModel)]="userName"  required>
                    <label class="form-label" for="">User Name</label>
                    
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="userPassword" [(ngModel)]="userPassword" (input)="checkPasswordStrength()"  required>
                    <label class="form-label" for="">Password</label>
                    <p *ngIf="passwordStrength.hasLowercase && passwordStrength.hasUppercase && passwordStrength.hasNumber&&passwordStrength.isLengthy">Your password strong</p>
                    <p *ngIf="passwordStrength.hasLowercase && passwordStrength.hasUppercase && passwordStrength.hasNumber&&passwordStrength.isLengthy">Good password</p>
                    <p *ngIf="passwordStrength.hasLowercase && passwordStrength.hasUppercase && passwordStrength.hasNumber">Weak password</p>
                </div>
            </form>  
        </div>
        <div class="card-footer">
            <div class="row">
                <button (click)="Login2()" class="btn btn-primary" type="button" >Login</button>
            </div>
            
        </div>
    </div>
    <div class="text-center" *ngIf="loginFailed">
        <h4 class="text-danger">Invalid Credentials</h4>
    </div>
    <div class="text-center" *ngIf="loginSuccess">
        <h4 class="text-bg-success">Welcome {{userName}}</h4>
    </div>
    <div class="text-center" *ngIf="loginSuccess || loginFailed">
        <button class="btn btn-outline-warning" (click)="loginSuccess=loginFailed=false">Go back</button>
    </div>
    <div>
        <select [(ngModel)]="sortation" >
            <option value="prodName">Name A-Z</option>
            <option value="price">Price lowest</option>
        </select>
        
    </div>
    <div *ngFor="let prod of productsList | sortBy:sortation">
        <p>{{prod.productName}} - {{prod.price}}</p>
    </div>
</div>