
<div class="container p-2 mt-5">
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header bg-dark-subtle">
            <h3 class="card-title">Login</h3>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input class="form-control" type="text" #userName2 name="">
                <label class="form-label" for="">User Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control"#userPassword2 name="">
                <label class="form-label" for="">Password</label>
            </div>
            <img [src]='imgUrl' width="200" alt="">
            <input type="text" id="userName" value="john doe">
        </div>
        <div class="card-footer">
            <button (click)=" clickme(userName2.value,userPassword2.value)" class="btn btn-primary" type="button">Login</button>
        </div>
    </div>
</div>
<button [style.color]="applyClass? 'black':'white'" [style.background-color]="applyClass? 'orange':'greenyellow'">Click</button>
<button [style]="applyClass? styleObj1:styleObj2">Clickingus</button>
<button [class.btn-success]="applyClass" [class.btn]="applyClass">Click Me</button><br><br>
