<div class="card">
    <div class="card-body">
        <h5 class="card-title">Art of V60 Coffee Brewing</h5>
        <p class="card-text">
            Welcome to the world of V60 coffee brewing, where precision meets flavor. The V60 pour-over method is
            renowned among coffee enthusiasts for its ability to extract the delicate nuances of your favorite beans,
            resulting in a clean, aromatic, and rich cup of coffee. Whether you're a seasoned barista or a curious
            coffee lover, mastering the V60 technique will elevate your coffee game to new heights. Join us as we delve
            into the step-by-step process of brewing a perfect cup using the iconic V60 dripper.</p>
    </div>

</div>
<label for="method"></label>
<select class="form-select" name="method" id="method">
    <option selected>Select brewing method</option>
    <option value="">Tetsu Kasuya's 4:6</option>
    <option value="">James Hoffman's</option>
    <option value="">Hario's</option>
</select>