<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Art of V60 Coffee Brewing</h5>
    <p class="card-text">
      Welcome to the world of V60 coffee brewing, where precision meets flavor.
      The V60 pour-over method is renowned among coffee enthusiasts for its
      ability to extract the delicate nuances of your favorite beans, resulting
      in a clean, aromatic, and rich cup of coffee. Whether you're a seasoned
      barista or a curious coffee lover, mastering the V60 technique will
      elevate your coffee game to new heights. Join us as we delve into the
      step-by-step process of brewing a perfect cup using the iconic V60
      dripper.
    </p>
    <p class="card-text">You will need:</p>
    <ul>
      <li>Hario V60 dripper</li>
      <li>V60 paper filter</li>
      <li>Freshly roasted coffee beans</li>
      <li>Coffee grinder</li>
      <li>Gooseneck kettle</li>
      <li>Digital scale</li>
      <li>Timer</li>
      <li>Coffee cup</li>
    </ul>
    <label for="">Choose V60 brewing method:</label>
    <br /><br />
    <div class="row row-cols-3">
      <div class="col">
        <select
        [(ngModel)]="selectedMethod"
        class="form-select"
        aria-label="Select V60 method"
      >
        <option *ngFor="let method of V60Methods" [value]="method">
          {{ method }}
        </option>
      </select>
      </div>
    </div>
    
    <br />
    <div [ngSwitch]="V60Methods.indexOf(selectedMethod)">
      <div class="container-flex" *ngSwitchCase="0">
        <app-tetsu-kasuya-method></app-tetsu-kasuya-method>
      </div>
      <div *ngSwitchCase="1">put</div>
      <div *ngSwitchCase="2">out</div>
      <div *ngSwitchCase="3">put</div>
      <div *ngSwitchCase="4">out</div>
      <div *ngSwitchDefault></div>
    </div>
  </div>
</div>
