<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="">Book a ride</h3>
        </div>
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptates vel veniam molestias ex ipsum, optio odio placeat autem aspernatur! Perspiciatis, id exercitationem. Harum beatae hic cumque reprehenderit perferendis? Quam?</p>
            <br><br><br>
            <div class="text-center">
                <div class="btn-group mx-auto">
                    <button class="btn btn-primary">To Gotham</button>
                    <button class="btn btn-primary">From Gotham</button>
                    <button class="btn btn-primary">Others</button>
                </div>
                <br><br>
                <p class="text-info">Please select a ride</p>
                <br>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Start Point</th>
                                <th>End Point</th>
                                <th>Seat Available</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Vanrose Junction</td>
                                <td>Gotham</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PTP</td>
                                <td>Gotham</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Gotham</td>
                                <td>East-Fort</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>Gotham</td>
                                <td>Central Mali</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary">Offer A Ride!</button>
                </div>
            </div>
        </div>
    </div>
</div>


