<!--<b>Using Observables!</b>

<h6>Values:</h6>

<div *ngFor="let value of myArray">{{value}}</div>

<div>Errors: {{errors}}</div>

<div>Finished: {{finished}}</div>

 


<button class="btn btn-primary" (click)="fetchData()">Fetch data</button>
<button class="btn btn-primary" (click)="display()">Fetch data</button>

-->
<div class="container mx-auto rounded-3 text-dark">
    <h3 *ngIf="!restCollapse" class="p-3">Choose your brewing method</h3>
    <div *ngIf="!restCollapse" class="row row-cols-3">
        <app-cards (nameEvent)="nameChange($event)" (colappseEvent)="colappseRest($event)"
            [vidSource]="sourceEspressoMachine" [brewingMethod]="espressoMachine"></app-cards>
        <div class="col-sm" *ngIf="!restCollapse">
            <app-cards (nameEvent)="nameChange($event)" (colappseEvent)="colappseRest($event)" [vidSource]="sourceV60"
                [brewingMethod]="v60"></app-cards>
        </div>
        <div class="col-sm" *ngIf="!restCollapse">
            <app-cards (nameEvent)="nameChange($event)" (colappseEvent)="colappseRest($event)"
                [vidSource]="sourceFrenchPress" [brewingMethod]="frenchPress"></app-cards>
        </div>
        <div class="col-sm" *ngIf="!restCollapse">
            <app-cards (nameEvent)="nameChange($event)" (colappseEvent)="colappseRest($event)"
                [vidSource]="sourceAeroPress" [brewingMethod]="aeroPress"></app-cards>
        </div>
        <div class="col-sm" *ngIf="!restCollapse">
            <app-cards (nameEvent)="nameChange($event)" (colappseEvent)="colappseRest($event)"
                [vidSource]="sourceMochaPot" [brewingMethod]="mochaPot"></app-cards>
        </div>
        <div class="col-sm" *ngIf="!restCollapse">
            <app-cards (nameEvent)="nameChange($event)" (colappseEvent)="colappseRest($event)"
                [vidSource]="sourceTurkishCoffee" [brewingMethod]="turkishCoffee"></app-cards>
        </div>
    </div>
    <div *ngIf="restCollapse">
        <div class="col" *ngIf="methodName===espressoMachine || !restCollapse">
            <button class="btn" (click)="restCollapse=!restCollapse">{{espressoMachine}}</button>
            <app-espresso-machine></app-espresso-machine>
        </div>
        <div class="col" *ngIf="methodName===v60 || !restCollapse">
            <app-v60></app-v60>
            <button class="btn p-3" style=" font-size: larger; font-weight: 500;"
                (click)="restCollapse=!restCollapse">
                return
            </button>
        </div>
        <div class="col" *ngIf="methodName===frenchPress || !restCollapse">
            <button class="btn" (click)="restCollapse=!restCollapse">{{frenchPress}}</button>
            <app-french-press></app-french-press>
        </div>
        <div class="col" *ngIf="methodName===aeroPress || !restCollapse">
            <button class="btn" (click)="restCollapse=!restCollapse">{{aeroPress}}</button>
            <app-areo-press></app-areo-press>
        </div>
        <div class="col" *ngIf="methodName===mochaPot || !restCollapse">
            <button class="btn" (click)="restCollapse=!restCollapse">{{mochaPot}}</button>
            <app-mocha-pot></app-mocha-pot>
        </div>
        <div class="col" *ngIf="methodName===turkishCoffee || !restCollapse">
            <button class="btn" (click)="restCollapse=!restCollapse">{{turkishCoffee}}</button>
            <app-turkish-coffee></app-turkish-coffee>
        </div>
    </div>
</div>

